<div class="col">
  <p>You select your Service {{ selectedFile }}</p>
  <span> CurrencyConversionService
    <input type="radio" [(ngModel)]="selectedService" value="1" /></span>

  <span> DataReductionService
    <input type="radio" [(ngModel)]="selectedService" value="2" /></span>

  <span> JSONReadCurrencyConversionDataReductionService
    <input type="radio" [(ngModel)]="selectedService" value="3" /></span>
    
  <br />
  <br />

  <select [(ngModel)]="selectedFile">
    <option default>Pick a File</option>
    <option *ngFor="let file of files">{{file.name}}</option>
  </select>
  <br />
  <br />
  <button (click)="takeBlob()">exported Blob</button><br />
  <button (click)="showSelectedValus()">Start</button>

  <p>{{ selectedFile}}</p>
</div>